<div class="dt-page__header">
    <h1 class="dt-page__title">Edit Coupon Category</h1>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-12">
        <!-- Card -->
        <div class="dt-card">
            <!-- Card Body -->
            <div class="dt-card__body">
                <!-- Form -->
                <form ng-submit="editCategory.updateCategory(category);" class="mb-6" ng-show="!editCategory.successMsg">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label>Category Name  </label>
                            <input class="form-control" type="text" name="name" placeholder="Enter Category Name" ng-model="editCategory.category.name" required>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Update Category</button>
                </form>
                <!-- /form -->

                <div class="alert alert-primary" role="alert" ng-show="editCategory.loading">
                    <h4 class="alert-heading">Please wait!</h4>
                    <p> Updating Category... Please wait!</p>
                </div>

                <div class="alert alert-success" role="alert" ng-show="editCategory.successMsg">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>{{ editCategory.successMsg }}</p>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="editCategory.errorMsg">
                    <h4 class="alert-heading">Oops!</h4>
                    <p>{{ editCategory.errorMsg }}</p>

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
    </div>
    <!-- /grid item -->
</div>
<!-- /grid -->

