<div class="dt-page__header">
    <h1 class="dt-page__title">Redeem Coupon</h1>
</div>


<!-- Grid Item -->
<div class="col-xl-12" ng-if="!redeem.successMsg">

    <!-- Card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header card-nav border-bottom-0">
            <div class="d-flex align-items-center justify-content-between mt-4">
                <!-- Search Box -->
                <form class="search-box ml-2">
                    <input class="form-control form-control-md" placeholder="Search customer by mobile number ..." ng-model="redeem.mobileNumber" type="search">
                    <span class="search-icon">
                        <i class="icon icon-search icon-lg"></i>
                    </span>
                </form>
                <p class="text-danger">{{ redeem.errorMsg }}</p>
                <p class="text-primary">{{ redeem.searchingCustomer }}</p>

                <!-- /search box -->
                <button class="btn btn-primary" type="button" ng-click="redeem.search();">Search Customer Now</button>
            </div>
        </div>
        <!-- /card header -->
    </div>
</div>

<div class="row" ng-show="redeem.successMsg">
    <!-- Grid Item -->
    <div class="col-12">
        <!-- Card -->
        <div class="dt-card">
            <!-- Card Body -->
            <div class="dt-card__body">

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>{{ redeem.successMsg }}</p>
                </div>
            <!-- /card body -->
        </div>
        <!-- /card -->
    </div>
    <!-- /grid item -->
</div>
<!-- /grid -->
</div>


<div class="col-xl-12" ng-if="redeem.customer && !redeem.successMsg">
    <!-- Card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header card-nav border-bottom-0">
            <div class="d-flex align-items-center justify-content-between mt-4">
                <h1>{{ redeem.customer.name }} </h1>
                <p class="text-primary">{{ redeem.customer.prizes.length }} prizes.</p>
            </div>

            <div class="col-xl-12">

                <!-- Card -->
                <div class="dt-card overflow-hidden">
        
                    <!-- Card Body -->
                    <div class="dt-card__body p-0">
        
                        <!-- Tables -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th class="text-uppercase" scope="col">Category</th>
                                    <th class="text-uppercase" scope="col">Prize Name</th>
                                    <th class="text-uppercase" scope="col">Coupons</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="prize in redeem.customer.prizes">
                                    <th scope="row">{{ $index + 1}}.</th>
                                    <td>{{ prize.category }}</td>
                                    <td>{{ prize.coupon }}</td>
                                    <td>{{ prize.coupons }} Coupons <span class="text-danger">({{ prize.coupons - (prize.quantity * prize.cost) }} Coupons left )</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /tables -->

                    </div>

                    <!-- /card body -->
        
                </div>
                <!-- /card -->

                <!-- Select Prize -->
                <h3>Redeem</h3>

                <div class="form-row" ng-repeat="prize in redeem.customer.prizes">
                    <div class="col-sm-4 mb-3">
                        <label>Coupon Category</label>
                        <select class="form-control" id="simple-select" ng-model="prize.categoryId" ng-change="selectedCategory(redeem.prizeData[prizeIndex].category, prizeIndex);" required>
                            <option value="">-- Select Coupon Category --</option>
                            <option ng-repeat="category in redeem.coupons" value="{{ category._id }}">{{ category.name }}</option>
                        </select>
                    </div>

                    <div class="col-sm-4 mb-3">
                        <label>Prize</label>
                        <select class="form-control" id="simple-select" ng-model="prize.couponId" required>
                            <option value="">-- Select Prize --</option>
                            <option ng-repeat="prize in redeem.couponsWithCategory[prize.categoryId].coupons" value="{{ prize._id }}">{{ prize.name }} - {{ prize.coupon }} Coupons</option>
                        </select>
                    </div>

                    <div class="col-sm-4 mb-3">
                        <label>Coupon Quantity</label>
                        <input class="form-control" type="number" name="coupon" placeholder="Enter coupon Quantity" ng-model="prize.quantity" required>
                    </div>
                </div>

            </div>
        </div>

        <!-- /card header -->

    </div>
    <div class="col-sm-12 mb-3">
        <label>Upload Signature </label>
        <input class="form-control" type="file" file-model="redeem.file.thumbnail" name="thumbnail">
    </div>
    <p class="text-danger">{{ redeem. redeemErrorMsg}} </p>

    <div class="alert alert-primary" role="alert" ng-show="redeem.loading && !redeem.redeemErrorMsg && !redeem.successMsg">
        <h4 class="alert-heading">Please wait!</h4>
        <p> Adding redeem request... Please wait!</p>
    </div>
    <button class="btn btn-success" type="button" ng-click="redeem.redeem();">Create Coupon Request</button>

</div>

