<!-- Grid Item -->
<div class="col-xl-12 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Customers</h1>
        <a class="btn btn-primary" href="/add-customer">Add Customer</a>
    </div>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-xl-12">

        <!-- Card -->
        <div class="dt-card overflow-hidden">

            <!-- Card Body -->
            <div class="dt-card__body p-0">

                <!-- Tables -->
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="text-uppercase" scope="col">Avatar</th>
                            <th class="text-uppercase" scope="col">Name</th>
                            <th class="text-uppercase" scope="col">Mobile Number</th>
                            <th class="text-uppercase" scope="col">Address</th>
                            <th class="text-uppercase" scope="col">Coupon</th>
                            <th class="text-uppercase" scope="col">Market</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in customer.customers">
                            <th scope="row">{{ $index + 1}}.</th>
                            <th>
                                <img class="dt-avatar dt-avatar__shadow size-30 mr-sm-4 mb-6" src="/assets/uploads/{{ user.profile_pic }}">
                            </th>
                            <td>{{ user.name }}</td>
                            <td>+91 {{ user.mobileNumber }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.coupon }}</td>
                            <td>{{ user.market.name }}</td>
                            <td><a href="/edit-customer/{{ user._id }}" class="text-success"> edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /tables -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->


</div>
