<!-- Grid Item -->
<div class="col-xl-12 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Customers</h1>
        <a class="btn btn-primary" href="/add-customer">Add Customer</a>
    </div>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-xl-12">

        <!-- Card -->
        <div class="dt-card overflow-hidden">

            <!-- Card Body -->
            <div class="dt-card__body p-0">

                <!-- Tables -->
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="text-uppercase" scope="col">Avatar</th>
                            <th class="text-uppercase" scope="col">Name</th>
                            <th class="text-uppercase" scope="col">Mobile Number</th>
                            <th class="text-uppercase" scope="col">Address</th>
                            <th class="text-uppercase" scope="col">Coupon</th>
                            <th class="text-uppercase" scope="col">Market</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in customer.customers">
                            <th scope="row">{{ $index + 1}}.</th>
                            <th>
                                <img class="dt-avatar dt-avatar__shadow size-30 mr-sm-4 mb-6" src="/assets/uploads/{{ user.profile_pic }}">
                            </th>
                            <td>{{ user.name }}</td>
                            <td>+91 {{ user.mobileNumber }}</td>
                            <td>{{ user.address }}</td>
                            <td style="white-space: pre-line" ng-click="customer.view(user._id);">{{ user.prizes.length }} Prizes <a href="#" data-toggle="modal" data-target="#exampleModal">view</a></td>
                            <td>{{ user.market.name }}</td>
                            <td><a href="/customer-history/{{ user._id }}" class="text-primary"> view coupons history</a></td>
                            <td><a href="/edit-customer/{{ user._id }}" class="text-success"> edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /tables -->

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->

    </div>
    <!-- /grid item -->


</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Total Prizes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="prize in customer.currentRedeem[0].prizes"> {{ prize.quantity }} x {{ prize.coupon }} [{{ prize.category }}] - {{ prize.coupons}} Coupons</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>