<div class="dt-page__header">
    <h1 class="dt-page__title">Edit Customer</h1>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-12">
        <!-- Card -->
        <div class="dt-card">
            <!-- Card Body -->
            <div class="dt-card__body">
                <!-- Form -->
                <form ng-submit="editCustomer.updateCustomer(customer);" class="mb-6" ng-show="!editCustomer.successMsg">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label>Customer Name </label>
                            <input class="form-control" type="text" name="name" placeholder="Enter Customer Name" ng-model="editCustomer.customer.name" required>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <label>Mobile Number  </label>
                            <input class="form-control" type="text" name="mobile" placeholder="Enter Mobile Number" ng-model="editCustomer.customer.mobileNumber" required disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 mb-3">
                            <label>Address  </label>
                            <textarea class="form-control" rows="5" name="address" placeholder="Enter address" ng-model="editCustomer.customer.address" required></textarea>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <label>Market</label>
                            <select class="form-control" id="simple-select" ng-model="editCustomer.customer.marketId" required>
                                <option value="">-- Select Market --</option>
                                <option ng-repeat="market in editCustomer.markets" value="{{ market._id }}">{{ market.name }}</option>
                            </select>
                        </div>

                        <div class="col-sm-12 mb-3 form-row" ng-repeat="prize in [] | range : editCustomer.customer.prizes.length"
                            ng-init="prizeIndex = $index">

                            <div class="col-sm-6 mb-3">
                                <label>Coupon Category</label>
                                <select class="form-control" id="simple-select"
                                    ng-model="editCustomer.customer.prizes[prizeIndex].categoryId"
                                    required>
                                    <option value="">-- Select Coupon Category --</option>
                                    <option ng-repeat="category in editCustomer.coupons" value="{{ category._id }}">
                                        {{ category.name }}</option>
                                </select>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label>Coupon Quantity</label>
                                <input class="form-control" type="number" name="coupon"
                                    placeholder="Enter coupon Quantity"
                                    ng-model="editCustomer.customer.prizes[prizeIndex].quantity" required>
                            </div>

                        </div>
                        <button class="btn btn-primary mb-3 text-center" type="button" ng-click="editCustomer.giftCoupon();">Add Gift Coupon</button>
                    </div>

                    <button class="btn btn-success" type="submit">Update Customer Now</button>
                </form>
                <!-- /form -->

                <div class="alert alert-primary" role="alert" ng-show="editCustomer.loading">
                    <h4 class="alert-heading">Please wait!</h4>
                    <p> Updating customer... Please wait!</p>
                </div>

                <div class="alert alert-success" role="alert" ng-show="editCustomer.successMsg">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>{{ editCustomer.successMsg }}</p>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="editCustomer.errorMsg">
                    <h4 class="alert-heading">Oops!</h4>
                    <p>{{ editCustomer.errorMsg }}</p>

                </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
    </div>
    <!-- /grid item -->
</div>
<!-- /grid -->

